# IDEs
.vs/
.vscode/
**.suo
**.user
**.iml

# IDES :: IDEA
*.iws
*.iml
*.ipr
.idea/libraries/
.idea/modules/
.idea/httpRequests/
.idea/dataSources*
.idea/sonarlint*
.idea/sqldialects.xml
.idea/rGraphicsSettings.xml
.idea/rSettings.xml
.idea/dbnavigator.xml
.idea/workspace.xml
.idea/dbnavigator.xml

# builds
bin/
obj/
dist/
target/
build/
out/
.settings/
.project
.classpath
.factorypath
node_modules/
**/__pychache__/

# files
.DS_Store
**.log
**.dump
**.pyc
._*
.Spotlight-V100
.Trashes

# terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.plan
*.tfplan
*.hcl

