:root {
  --size: 50px;
}

body, html {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkslateblue;
}

div {
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  border: 16px solid lightblue;
  border-top: 16px solid white;
  border-bottom: 16px solid white;
  transition: width 2s, height 2s, transform 10000s, border-top 2s, border 2s, border-top 2s;
  height: 30px;
  width: 30px;
}

div:hover {
  height: 300px;
  width: 300px;
  border: 40px solid white;
  border-top: 4px solid lightblue;
  border-bottom: 1px solid lightblue;
  transform: rotate(36000000deg);
}